<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie seu Sonho</title>
    <script src="../static/redirect_actions.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/create_dream.css">
</head>
<body>
    <form action="{% url 'create_dream' %}" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input type="submit">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </form>
</body>
</html>