<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus Sonhos</title>
    <script src="../static/redirect_actions.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/dreams.css">
</head>
<body>
    <div class="dreams-box">
        <header>
            <img src="../static/morfeus_logo.png" onclick="morfeus()">
            <div class="actions">
                <button type="button" onclick="morfeus()">
                    Voltar
                </button>
                <button type="button" onclick="create_dream()">
                    Criar Sonho
                </button>
            </div>
        </header>
        <main>
            {% if dreams.count > 0 %}
                <div class="dreams-enclosure enclosure">
                    {% for dream in dreams %}
                        <div class="dream-node">
                            <h3 class="dream-title">{{ dream.title }}</h3>
                            <p class="dream-text"><i>{{ dream.text }}...</i></p>
                            <div class="dream-info">
                                <p class="dream-date">{{ dream.date }}</p>
                                <p class="dream-type">{{ dream.dream_type }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-dreams-enclosure enclosure">
                    <h2>Você não cadastrou nenhum sonho.</h2>
                </div>
            {% endif %}
        </main>
    </div>
</body>
</html>
