<script src="../static/redirect_actions.js"></script>
<link rel="stylesheet" type="text/css" href="../static/index.css">
<link rel="stylesheet" type="text/css" href="../static/dreams.css">
<div class="dreams-box">
    <header>
        <img src="../static/morfeus_logo.jpg">
        <div class="dreams-actions">
            <button type="button" onclick="morfeus()">
                Voltar
            </button>
            <button type="button" onclick="create_dream()">
                Criar Sonho
            </button>
        </div>
    </header>
    <main>
        <div class="dreams-enclosure" id="dreams-enclosure">
            <script src="../static/render_dreams.js"></script>
        </div>
    </main>
</div>