<div class="home-box">
    <script src="../static/home_actions.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <header>
        <img src="../static/morfeus_logo.jpg">
        <div class="home-header-actions">
            <button type="button" onclick="login()">LOGIN</button>
            <button type="button" onclick="register()">CADASTRAR-SE</button>
        </div>
    </header>
    <main>
        CORPO
    </main>
</div>