<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morfeus Home</title>
    <script src="../static/redirect_actions.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
    <div class="home-box">
        <header>
            <img src="../static/morfeus_logo.jpg" alt="MorfeusLogo">
            <div class="home-header-actions">
                <button type="button" onclick="login()">LOGIN</button>
                <button type="button" onclick="register()">CADASTRAR-SE</button>
            </div>
        </header>
        <main>
            <div class="content">
                <div id="welcome">
                    <h2>Bem vindo ao Morfeus!</h2>
                    <p>O aplicativo Morfeus tem como objetivo o cadastro de sonhos dos usuários assim como a disponibilização de estatísiticas dos mesmos.</p>
                </div>
                <div id="about-dream01">
                    <p>Ao registrar e relembrar os sonhos, o autoconhecimento pode abrir portas para entender conflitos e até alguns traumas emocionais que foram recalcados.</p>
                    <img src="../static/sleeping_boy.jpg" alt="SleepingBoy" id="SleepingBoy">
                </div>
                <div id="about-dream02">
                    <p>O sonho reflete cenas e imagens resultantes do movimento de nossa psique e podem ter significados importantes para compreensão de nossos processos psicológicos.</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
