<script src="../static/redirect_actions.js"></script>
<link rel="stylesheet" type="text/css" href="../static/index.css">
<link rel="stylesheet" type="text/css" href="../static/morfeus.css">
<div class="morfeus-box">
    <header>
        <img src="../static/morfeus_logo.jpg">
        <div class="morfeus-actions">
            <button type="button" onclick="create_dream()">
                Criar Sonho
            </button>
            <button type="button" onclick="dreams()">
                Meus Sonhos
            </button>
            <button type="button" onclick="logoff()">
                Logoff
            </button>
        </div>
    </header>
    <main>
        <div class="morfeus-data">
            <div class="statistics">
                <div class="total-dreams">
                    16 Sonhos
                </div>
                <div class="total-users">
                    7 Usuários
                </div>
            </div>
            <div class="dream-nightmare-graph">
                DREAM / NIGHTMARE GRAPH
            </div>
        </div>
    </main>
</div>