* {
    overflow-x: hidden;
}

.create-dream-box {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    min-height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(270deg, #00087f, #0028ff, #1e68ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

.create-dream-content {
    display: grid;
    grid-template-areas: 'titl titl'
                        'imge form';
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #0007d9,
                -20px -20px 60px #0009ff;

    background: linear-gradient(90deg, #00087f, #0028ff, #1e68ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

form input {
    border-radius: 10px;
}

.create-dream-content h2 {
    grid-area: titl;
    text-align: center;
    color: white;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

#MorfeusWallpaper {
    grid-area: imge;
    width: 50%;
    border-radius: 33% 67% 28% 72% / 18% 34% 66% 82%;
    cursor: auto;
    justify-self: center;
}