@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    cursor: pointer;
}

header .actions {
    display: flex;
    gap: 15px;
}

.actions button {
    padding: 5px;
    border-radius: 5px;
    background-color: indigo;
    color: gray;
    cursor: pointer;
}

p, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}